@import "../omarchy/current/theme/waybar.css";

* {
  background-color: @background;
  color: @foreground;

  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: 'Terminess Nerd Font';
  font-size: 14px;
}

.modules-left {
  margin-left: 8px;
}

.modules-right {
  margin-right: 8px;
}

#workspaces button {
  all: initial;
  padding: 0 6px;
  margin: 0 1.5px;
  min-width: 9px;
}

#workspaces button.empty {
  opacity: 0.5;
}

#workspaces button.active{
  font-weight: bold;
  color:@active;

}

#custom-expand-icon,
#tray-expand,
#tray,
#bluetooth,
#clock,
#workspaces,
#network,
#cpu,
#battery,
#pulseaudio,
#custom-omarchy,
#custom-screenrecording-indicator,
#custom-update {
  min-width: 12px;

  margin: 6px 3px;

  border: 1.5px solid;
  padding: 2px 6px;
}

#tray {
  margin-right: 16px;
}

#bluetooth {
  margin-right: 3px;
}

#network {
  margin-right: 3px;
  padding-right: 10px;
}

#custom-expand-icon {
  margin-right: 3px;
}

tooltip {
  padding: 2px;
}

#custom-update {
  font-size: 10px;
}

#clock {
  margin-left: 10px;
  padding-right: 10px;
}

.hidden {
  opacity: 0;
}

#custom-screenrecording-indicator {
  min-width: 12px;
  margin-left: 8.75px;
  font-size: 10px;
}

#custom-screenrecording-indicator.active {
  color: #a55555;
}
